@using rest_api_sigedi.Models;
@using rest_api_sigedi.Controllers;
@{
    // obtenemos los datos del controller
    var distribucionesAgrupadas = (IEnumerable<DistribucionDetalleAgrupado>) ViewData.Model["DistribucionDetalleAgrupado"];
    var resumen = (ResumenDistribuciones) ViewData.Model["Resumen"];
    var culture = System.Globalization.CultureInfo.CreateSpecificCulture("es-ES");
    var specifier = "0,0";
    Layout = "_Layout";
}
<style>
table{width:  100%; border-collapse: collapse;}
tfoot{border-top: solid 1px gray;}
/*thead{border-bottom: solid 1px gray}*/
.tablaConBordes{border: solid 1px black; border-collapse: separate; padding: 5px 20px;}
.numero{text-align: right}
.resumen{width:  40%;}
</style>
<table class="tablaConBordes">
    <thead>
        <tr>
            <th colspan="4">Reporte de Ventas Diarias</th>
        </tr>
    </thead>
    <tr>
        <td><b>Fecha Desde:</b></td>
        <td>@resumen.FechaInicioResumen.Date.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <td><b>Fecha Hasta:</b></td>
        <td>@resumen.FechaFinResumen.Date.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <td><b>Fecha Reporte:</b></td>
        <td>@System.DateTime.Now</td>
    </tr>
</table>
<br>
<h3>Ventas</h3>
<hr><br>
@foreach (var distribucionAgrupada in distribucionesAgrupadas)
{
    <table>
        <thead>
            <tr>
                <td colspan="2" style="text-align: left"><b>Vendedor: </b>@(distribucionAgrupada.Distribuciones.ElementAt(0).NombreVendedor)<br><br></td>
            </tr>
            <tr style="text-align: left;">
                <th width ="15%">Artículo</th>
                <th>Nro. Edición</th>
                <th width ="12%">Fecha Edición</th>
                <th>Cantidad Vendida</th>
                <th class="numero">Monto</th>
                <th class="numero">Importe</th>
                <th class="numero">Saldo</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var detalle in distribucionAgrupada.Distribuciones)
        {
            <tr>
                <td>@detalle.NombreArticulo.ToString()</td>
                <td>@detalle.NroEdicion.ToString()</td>
                <td>@detalle.FechaEdicion.Value.Date.ToString("dd/MM/yyyy")</td>
                <td>@(detalle.Cantidad - detalle.Devoluciones)</td>
                <td class="numero">@(detalle.Monto == 0 ? "0" : detalle.Monto.ToString(specifier, culture))</td>
                <td class="numero">@(detalle.Importe == 0 ? "0" : detalle.Importe.Value.ToString(specifier, culture))</td>
                <td class="numero">@(detalle.Saldo == 0 ? "0" : detalle.Saldo.ToString(specifier, culture))</td>
            </tr>

        }
        </tbody>
        <tfoot style="border-top: solid 1px gray;">
            <tr>
                <td colspan="4"></td>
                <th class="numero">@(distribucionAgrupada.TotalMonto == 0 ? "0" : distribucionAgrupada.TotalMonto.ToString(specifier, culture))</th>
                <th class="numero">@(distribucionAgrupada.TotalImporte == 0 ? "0" : distribucionAgrupada.TotalImporte.ToString(specifier, culture))</th>
                <th class="numero">@(distribucionAgrupada.TotalSaldo == 0 ? "0" : distribucionAgrupada.TotalSaldo.ToString(specifier, culture))</th>
            </tr>
        </tfoot>
    </table>
    <br>
}


<h3>Resumen</h3>
<hr><br>
<table class="resumen" style="">
    <tr>
        <td><b>Total Ventas:</b></td>
        <td class="numero">@(resumen.TotalDistribuciones == 0 ? "0" : resumen.TotalDistribuciones.ToString(specifier, culture)) Gs.</td>
    </tr>
    <tr>
        <td><b>Total Ingresos:</b></td>
        <td class="numero">@(resumen.TotalIngresos == 0 ? "0" : resumen.TotalIngresos.ToString(specifier, culture)) Gs.</td>  
    </tr>
    <tr>
        <td><b>Saldo Pendiente:</b></td>
        <td class="numero">@(resumen.TotalDeudas == 0 ? "0" : resumen.TotalDeudas.ToString(specifier, culture)) Gs.</td>  
    </tr>
</table>